@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-bg-color: #f0f0f0;
    --btn-bg-color: #059669;
    --btn-hover-bg-color: #09aa77;
    --btn-text-color: white;
    --input-focus-border: #0097672c;
    --link-color: red;
    --icon-color: #55585B;
    --secondary-bg-color: white;
    --footer-link-color: #F0E68C;
    --invalid-border: #DC3545;
    --invalid-shadow: #ffc5c9;
    --valid-border: #198754;
    --valid-shadow: #C5E1D4;
    --main-font-family: "Poppins", serif;
    --site-name-font-family: "Lobster", serif;
}

body {
    font-family: var(--main-font-family);
    background-color: var(--main-bg-color);
}

.container-fluid {
    min-height: 100vh;
}

.btn {
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    width: 100%;
    margin-top: 1.25rem;
    border-radius: 3px;
    transition: 0.2s all ease-in-out;
}

.btn:hover {
    background-color: var(--btn-hover-bg-color);
    color: var(--btn-text-color);
}

.btn:active {
    background-color: var(--btn-hover-bg-color) !important;
    color: var(--btn-text-color) !important;
}

.card {
    width: 500px;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    border-radius: 0%;
    border: 1px solid transparent;
}

.card-title {
    padding-top: 1.5625rem;
    padding-bottom: 1.5625rem;
}

.form-control {
    background-color: var(--main-bg-color);
    border-radius: 3px;
}

.form-control:focus {
    background-color: var(--main-bg-color);
    border-color: var(--input-focus-border);
    outline: 0;
    box-shadow: 0 0 0 .25rem var(--input-focus-border);
}

span {
    display: block;
    padding-top: 1.8rem;
    padding-bottom: 2.1875rem;
}

span a {
    color: var(--link-color);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

svg {
    width: 70px;
}

.loader {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--main-bg-color);
    opacity: 1;
    transition: 0.3s all ease-in-out;
}

i {
    right: 10px;
    top: 45px;
    cursor: pointer;
    color: var(--icon-color);
}

footer {
    background-color: var(--btn-bg-color);
    padding: 1rem;
}

footer p {
    margin: 0;
    color: var(--main-bg-color);
}

footer a {
    color: var(--footer-link-color);
}

nav {
    background-color: var(--btn-bg-color);
}

.navbar-brand {
    color: var(--main-bg-color);
    font-family: var(--site-name-font-family);
    font-size: 1.75rem;
}

.navbar-brand:hover {
    text-decoration: none;
    color: var(--main-bg-color);
}

.home {
    height: calc(100vh - 84px);
}

.logout {
    color: var(--footer-link-color);
    background-color: var(--btn-bg-color);
    border: 1px solid var(--footer-link-color);
    transition: 0.3s all ease-in;
}

.logout:hover {
    background-color: var(--footer-link-color);
    color: #212529;
}

.alert {
    padding: 6px 36px 6px 12px;
}

.invalid-pass {
    border-color: var(--invalid-border) !important;
}

.invalid-pass:focus {
    box-shadow: 0 0 0 .25rem var(--invalid-shadow);
}

.valid-pass {
    border-color: var(--valid-border) !important;
}

.valid-pass:focus {
    box-shadow: 0 0 0 .25rem var(--valid-shadow);
}


@media screen and (max-width:580px) {
    .card {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .card-title {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    span {
        padding-bottom: 1rem;
    }

    .container-fluid {
        height: auto;
        min-height: 100vh;
    }

    .navbar-brand {
        font-size: 1.3rem;
    }

    .logout {
        font-size: 0.8rem;
    }

    .home {
        height: calc(100vh - 73.19px);
    }

    .welcome {
        font-size: 1.5rem;
    }
}